@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta charset="utf-8" />
    <title>Board Members</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="~/Content/dashboard.css" />
</head>
<div class="container-fluid py-3 custom-margin-top">
    <div class="row align-items-center mb-3">
        <div class="col-md-4 col-sm-12">
            <div class="main-title-bar text-center text-md-start">
                今の出席状況概要
            </div>
        </div>

        <div class="col-md-8 col-sm-12">
            @*<div class="d-flex flex-wrap gap-3 justify-content-md-end justify-content-center">
                    <span><span class="status-icon status-in"></span> 在席</span>
                    <span><span class="status-icon status-off"></span> 帰宅</span>
                    <span><span class="status-icon status-away"></span> 外出／直</span>
                    <span><span class="status-icon status-meeting"></span> 会議</span>
                    <span><span class="status-icon status-home"></span> 休み</span>
                </div>*@
            <div class="status-legend">
                <div class="status-item">
                    <span class="dot at-desk"></span>
                    <span class="label">在席</span>
                </div>
                <div class="status-item">
                    <span class="dot left-office"></span>
                    <span class="label">帰宅</span>
                </div>
                <div class="status-item">
                    <span class="dot out-of-office"></span>
                    <span class="label">外出／直行</span>
                </div>
                <div class="status-item">
                    <span class="dot in-meeting"></span>
                    <span class="label">会議</span>
                </div>
                <div class="status-item">
                    <span class="dot day-off"></span>
                    <span class="label">休み</span>
                </div>
            </div>
        </div>
    </div>

    @model EmployeeTrackingSystem.Models.DashboardTablesViewModel

    <div class="tables-container">
        <div class="row">
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table1)</div>
            <div class="col-md-6 col-sm-12">@Html.Partial("_DashboardTable5Col", Model.Table2)</div>
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table9)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table3)</div>
            <div class="col-md-6 col-sm-12">
                <div class="row no-gap">
                    <div class="col-md-5 col-sm-12">
                        @Html.Partial("_DashboardTable", Model.Table4)
                    </div>
                    <div class="col-md-7 col-sm-12">
                        @Html.Partial("_DashboardTable3Col", Model.Table5)
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table10)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table6)</div>
            <div class="col-md-6 col-sm-12">@Html.Partial("_DashboardTable5Col", Model.Table7)</div>
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table11)</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">@Html.Partial("_DashboardTable5Col", Model.Table8)</div>
        </div>
    </div>
</div>



@*staffname click popup*@
<div class="modal fade" id="staffModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="staffForm">
                <input type="hidden" id="StaffCd" name="StaffCd" />
                <input type="hidden" id="DepartmentCd" name="DepartmentCd" />
                <div class="modal-header">
                    <h5 class="modal-title">Data入力</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <!-- 在席 -->
                    <div class="form-group">
                        <label><input type="radio" name="Status" value="在席" /> 在席</label>                       
                    </div>
                    <!-- 帰宅 -->
                    <div class="form-group">
                        <label><input type="radio" name="Status" value="帰宅" /> 帰宅</label>
                        <div id="shop-options" class="shop-options" style="display:none;">
                            <label><input type="radio" name="Shop" value="S01" /> Shop1</label>
                            <label><input type="radio" name="Shop" value="S02" /> Shop2</label>
                            <label><input type="radio" name="Shop" value="S03" /> Shop3</label>
                        </div>
                    </div>

                    <!-- 外出 -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="外出" /> 外出</label>
                        <div class='input-group date' id='datetimepicker-out'>
                            <input type='text' name="ReturnDateTime-out" class="form-control" placeholder="ReturnDateTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="text" id="Note-out" name="Note-out" class="form-control status-input" placeholder="Note" />
                    </div>
                    <!-- 会議 -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="会議" /> 会議</label>
                        <div class='input-group date' id='datetimepicker-meeting'>
                            <input type='text' name="ReturnDateTime-meeting" class="form-control" placeholder="ReturnDateTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="text" id="Note-meeting" name="Note-meeting" class="form-control status-input" placeholder="Note" />
                    </div>
                    <!-- 休み -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="休み" /> 休み</label>
                        <input type="text" id="Note-leave" style="width:100% !important" name="Note-leave" class="form-control status-input" placeholder="Note" />
                    </div>
                    <!-- 直行 -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="直行" /> 直行</label>
                        <div class='input-group date' id='datetimepicker-visit'>
                            <input type='text' name="ReturnDateTime-visit" class="form-control" placeholder="ReturnDateTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="text" id="Note-visit" name="Note-visit" class="form-control status-input" placeholder="Note" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">登録</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*searchicon click popup*@
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <!-- wider for table layout -->
        <div class="modal-content">
            <form id="scheduleForm">
                <div class="modal-header">
                    <h5 class="modal-title">予定の登録 &nbsp;&nbsp;&nbsp; <span id="displayStaffName"></span></h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body table-v-scroll table-responsive" style="height:550px;">
                    <table class="table table-bordered schedule-table" id="Plantable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>予定日</th>
                                <th>備考</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="button" Onclick="SavePlanData()" class="btn btn-primary">登録</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $(document).on("click", ".staff-link", function () {
            // Clear all inputs in the modal form
            $("#staffForm")[0].reset();

            // Also clear hidden fields explicitly
            $("#StaffCd").val("");
            $("#DepartmentCd").val("");

            $("#StaffCd").val($(this).data("sid")); // staffcd from link
            $("#DepartmentCd").val($(this).data("did")); // DepartmentCD from link

            // Radio button (Status)
            var status = $(this).data("status");
            $("input[name='Status'][value='" + status + "']").prop("checked", true);

            var returnDate = $(this).data("returndatetime");
            var note = $(this).data("note");

            // Disable all ReturnDateTime and Note inputs by default
            $("input[name^='ReturnDateTime']").prop("disabled", true).val("");
            $("input[id^='Note']").prop("disabled", true).val("");

            if (status === "外出") {
                $("input[name='ReturnDateTime-out']").prop("disabled", false).val(returnDate);
                $("input[name='Note-out']").prop("disabled", false).val(note);
            } else if (status === "会議") {
                $("input[name='ReturnDateTime-meeting']").prop("disabled", false).val(returnDate);
                $("input[name='Note-meeting']").prop("disabled", false).val(note);
            } else if (status === "休み") {
                $("input[name='Note-leave']").prop("disabled", false).val(note);
            } else if (status === "直行") {
                $("input[name='ReturnDateTime-visit']").val(returnDate);
                $("input[name='Note-visit']").prop("disabled", false).val(note);
            }
            // Show Shop radios only for Shop01, Shop02, Shop03 departments
            var dept = $(this).data("did");
            if (dept === "S01" || dept === "S02" || dept === "S03") {
                $("#shop-options").show();
                $("input[name='Shop'][value='" + dept + "']").prop("checked", true);
            } else {
                $("#shop-options").hide();
            }
        });

        // When staffModal is shown, initialize the datetimepicker
        $('#staffModal').on('shown.bs.modal', function () {
            $('#datetimepicker-out').datetimepicker({
                format: 'YYYY/MM/DD HH:mm:ss',
                showClear: true,
                showClose: true,
                widgetParent: '#staffModal',
                minDate: moment().startOf('day'), // disable all dates before today
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#datetimepicker-meeting').datetimepicker({
                format: 'YYYY/MM/DD HH:mm:ss',
                showClear: true,
                showClose: true,
                widgetParent: '#staffModal',
                minDate: moment().startOf('day') // disable all dates before today
            });
            $('#datetimepicker-visit').datetimepicker({
                format: 'YYYY/MM/DD HH:mm:ss',
                showClear: true,
                showClose: true,
                widgetParent: '#staffModal',
                minDate: moment().startOf('day') // disable all dates before today
            });
        });

        $("#staffForm").on("submit", function (e) {
            e.preventDefault();

            var status = $("input[name='Status']:checked").val();
            var shopCD = $("input[name='Shop']:checked").val();
            alert(shopCD)
            var returnDateTime = null;
            var note = null;

            if (status === "外出") {
                returnDateTime = $("input[name='ReturnDateTime-out']").val();
                note = $("#Note-out").val();
            } else if (status === "会議") {
                returnDateTime = $("input[name='ReturnDateTime-meeting']").val();
                note = $("#Note-meeting").val();
            } else if (status === "休み") {
                note = $("#Note-leave").val();
            } else if (status === "直行") {
                returnDateTime = $("input[name='ReturnDateTime-visit']").val();
                note = $("#Note-visit").val();
            }

            var staffCD = $("#StaffCd").val();
            var departmentCD = $("#DepartmentCd").val();

            var payload = {
                DepartmentCD: departmentCD,
                StaffCd: staffCD,
                Status: status,
                ReturnDateTime: returnDateTime,
                Note: note
            };

            $.ajax({
                url: '/Home/SaveStaff',
                type: 'POST',
                data: payload,
                success: function (response) {
                    alert(response.message);
                    $("#staffModal").modal("hide");
                    location.reload();
                },
                error: function () {
                    alert("An error occurred while saving.");
                }
            });
        });

        $(document).on("change", "input[name='Status']", function () {

            // Add required attributes based on selected radio
            var selected = $(this).val();

            // First clear and disable all ReturnDateTime and Note inputs
            $("input[name^='ReturnDateTime']").val("").prop("required", false).prop("disabled", true);
            $("input[id^='Note']").val("").prop("required", false).prop("disabled", true);

            // Enable only the inputs for the selected status
            if (selected === "外出") {
                $("input[name='ReturnDateTime-out']").prop("disabled", false).prop("required", true);
                $("#Note-out").prop("disabled", false).prop("required", true);
            } else if (selected === "会議") {
                $("input[name='ReturnDateTime-meeting']").prop("disabled", false).prop("required", true);
                $("#Note-meeting").prop("disabled", false).prop("required", true);
            } else if (selected === "休み") {
                $("#Note-leave").prop("disabled", false).prop("required", true);
            } else if (selected === "直行") {
                $("input[name='ReturnDateTime-visit']").prop("disabled", false).prop("required", true);
                $("#Note-visit").prop("disabled", false).prop("required", true);
            }
        });

        $(document).on("click", ".search-icon", function () {
            var staffId = $(this).attr('id');
            // Show the modal
            $("#searchModal").modal("show");
            var name = $(this).data('staffname');

            // 2. Insert the name into the span inside the modal
            $('#displayStaffName').text(name);

            $.ajax({
                url: '@Url.Action("GetPlanData", "Home")',
                type: 'POST',
                dataType: 'json',
                data: { id: staffId },
                success: function (data) {
                    var jsonData = JSON.parse(data);
                    var rows = '';
                    $('#Plantable tbody').empty();

                    $.each(jsonData, function (i, item) {
                        rows += '<tr>'
                            + '<td style="display:none">' + (staffId || "") + '</td>'
                            + '<td class="text-end">' + (formatDate(item.DateValue)|| "") + '</td>'
                            + '<td><input type="text" value="' + (item.Note || "") + '" class="form-control" /></td>'
                            + '</tr>';
                    });

                    $('#Plantable tbody').append(rows);
                }
            });
        });

        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            return year+'年'+ month + '月' + day + '日';
           // return year + "/" + month + "/" + day;
        }

        $("#scheduleForm").on("submit", function (e) {
            e.preventDefault();
            $.ajax({
                url: '/Dashboard/SaveSchedule',
                type: 'POST',
                data: $(this).serialize(),
                success: function () {
                    $("#searchModal").modal("hide");
                    location.reload();
                }
            });
        });

        function SavePlanData() {

            var list = [];

            $('#Plantable tbody tr').each(function () {
                var staffid = $(this).find('td:eq(0)').text();
                var date = $(this).find('td:eq(1)').text();   // Date column
                var note = $(this).find('input').val();       // Input value

                list.push({
                    StaffCD: staffid,
                    PlanDate: date,
                    Note: note
                });
            });

            console.log(list); // check data

            // send to server
            $.ajax({
                url: '/Home/SavePlanData',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(list),
                success: function (res) {
                    alert('登録しました。');
                }
            });
        }

    </script>
}
