
@using EmployeeTrackingSystem.Models
@{
    ViewBag.Title = "Dashboard";
}
<div class="container-fluid py-3">
    <div class="row align-items-center mb-3">
        <div class="col-md-3 col-sm-12">
            <div class="main-title-bar text-center text-md-start">
                今の出席状況概要
            </div>
        </div>

        <div class="col-md-8 col-sm-12">

            <div class="status-legend">
                <div class="status-item">
                    <span class="dot at-desk"></span>
                    <span class="label">在席</span>
                </div>
                <div class="status-item">
                    <span class="dot left-office"></span>
                    <span class="label">帰宅</span>
                </div>
                <div class="status-item">
                    <span class="dot out-of-office"></span>
                    <span class="label">外出／直行</span>
                </div>
                <div class="status-item">
                    <span class="dot in-meeting"></span>
                    <span class="label">会議</span>
                </div>
                <div class="status-item">
                    <span class="dot day-off"></span>
                    <span class="label">休み</span>
                </div>
            </div>
        </div>
    </div>

    @model EmployeeTrackingSystem.Models.DashboardTablesViewModel

    <div class="tables-container">
        <div class="row">
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table1)</div>
            <div class="col-md-6 col-sm-12">@Html.Partial("_DashboardTable5Col", Model.Table2)</div>
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table9)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table3)</div>
            <div class="col-md-6 col-sm-12">
                <div class="row no-gap">
                    <div class="col-md-5 col-sm-12">
                        @Html.Partial("_DashboardTable", Model.Table4)
                    </div>
                    <div class="col-md-7 col-sm-12">
                        @Html.Partial("_DashboardTable3Col", Model.Table5)
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table10)</div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table6)</div>
            <div class="col-md-6 col-sm-12">@Html.Partial("_DashboardTable5Col", Model.Table7)</div>
            <div class="col-md-3 col-sm-12">@Html.Partial("_DashboardTable", Model.Table11)</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">@Html.Partial("_DashboardTable5Col", Model.Table8)</div>
        </div>
    </div>
</div>


@*staffname click popup*@
<div class="modal fade" id="staffModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="staffForm">
                <input type="hidden" id="StaffCd" name="StaffCd" />
                <input type="hidden" id="DepartmentCd" name="DepartmentCd" />
                <div class="modal-header">
                    <h5 class="modal-title">Data入力 &nbsp;&nbsp;&nbsp; <span id="staffName"></span></h5>
                </div>

                <div class="modal-body">
                    <!-- 在席 -->
                    <div class="form-group">
                        <label><input type="radio" name="Status" value="在席" /> 在席</label>
                        <div id="shop-options" class="shop-options" style="display:none;">
                            @foreach (var shop in Model.AvailableShops)
                            {
                                <label><input type="radio" name="Shop" value=@shop.DepartmentCD /> @shop.DepartmentName</label>
                            }
                        </div>
                    </div>
                    <!-- 帰宅 -->
                    <div class="form-group">
                        <label><input type="radio" name="Status" value="帰宅" /> 帰宅</label>

                    </div>

                    <!-- 外出 -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="外出" /> 外出</label>
                        <div class='input-group date' id='datetimepicker-out'>
                            <input type='text' name="ReturnDateTime-out" class="form-control" placeholder="ReturnDateTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="text" id="Note-out" name="Note-out" class="form-control status-input" placeholder="Note" />
                    </div>
                    <!-- 会議 -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="会議" /> 会議</label>
                        <div class='input-group date' id='datetimepicker-meeting'>
                            <input type='text' name="ReturnDateTime-meeting" class="form-control" placeholder="ReturnDateTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="text" id="Note-meeting" name="Note-meeting" class="form-control status-input" placeholder="Note" />
                    </div>
                    <!-- 休み -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="休み" /> 休み</label>
                        <input type="text" id="Note-leave" style="width:100% !important" name="Note-leave" class="form-control status-input" placeholder="Note" />
                    </div>
                    <!-- 直行 -->
                    <div class="form-group status-option">
                        <label class="status-label"><input type="radio" name="Status" value="直行" /> 直行</label>
                        <div class='input-group date' id='datetimepicker-visit'>
                            <input type='text' name="ReturnDateTime-visit" class="form-control" placeholder="ReturnDateTime" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <input type="text" id="Note-visit" name="Note-visit" class="form-control status-input" placeholder="Note" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">登録</button>
                </div>
            </form>
        </div>
    </div>
</div>
@*searchicon click popup*@
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <!-- wider for table layout -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">予定の登録 &nbsp;&nbsp;&nbsp; <span id="displayStaffName"></span></h5>
            </div>

            <div class="modal-body">
                @*<div style="max-height: 500px; overflow-y: auto;">  schedule-table *@
                <div class="modal-container">
                    <table class="table table-bordered" id="Plantable">
                        <thead>
                            <tr>
                                <th style="display:none">ID</th>
                                <th>予定日</th>
                                <th>備考</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" Onclick="SavePlanData()" class="btn btn-primary">登録</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/dashboard_01.css" />
    
    <script>
        $(document).ready(function () {
            $(document).on("click", ".staff-link", function () {
                // Clear all inputs in the modal form
                $("#staffForm")[0].reset();                
                // Also clear hidden fields explicitly
                $("#StaffCd").val("");
                $("#DepartmentCd").val("");

                $("#StaffCd").val($(this).data("sid")); // staffcd from link
                $("#DepartmentCd").val($(this).data("did")); // DepartmentCD from link

                // Radio button (Status)
                var status = $(this).data("status");
                $("input[name='Status'][value='" + status + "']").prop("checked", true);

                var returnDate = $(this).data("returndatetime");
                var note = $(this).data("note");

                const date = new Date(returnDate);

                const formatted = date.toLocaleString('en-CA', {
                    year: 'numeric',
                    month: '2-digit',
                    day: '2-digit',
                    hour: '2-digit',
                    minute: '2-digit',
                    hour12: false
                }).replace(',', '').replace(/-/g, '-');

                // Disable all ReturnDateTime and Note inputs by default
                $("input[name^='ReturnDateTime']").prop("disabled", true).val("");
                $("input[id^='Note']").prop("disabled", true).val("");
               
                if (status === "外出") {
                    $("input[name='ReturnDateTime-out']").prop("disabled", false).val(formatted);
                    $("input[name='Note-out']").prop("disabled", false).val(note);
                } else if (status === "会議") {
                    $("input[name='ReturnDateTime-meeting']").prop("disabled", false).val(formatted);
                    $("input[name='Note-meeting']").prop("disabled", false).val(note);
                } else if (status === "休み") {
                    $("input[name='Note-leave']").prop("disabled", false).val(note);
                } else if (status === "直行") {
                    $("input[name='ReturnDateTime-visit']").prop("disabled", false).val(formatted);
                    $("input[name='Note-visit']").prop("disabled", false).val(note);
                }
                // Show Shop radios only for Shop01, Shop02, Shop03 departments
                var dept = $(this).data("did").toString(); // Ensure it is a string
                if (dept.startsWith('S')) {
                    $("#shop-options").show();
                    $("input[name='Shop'][value='" + dept + "']").prop("checked", true);
                } else {
                    $("#shop-options").hide();
                }
            });

            // When staffModal is shown, initialize the datetimepicker
            $('#staffModal').on('shown.bs.modal', function () {
                // Status radio
                var status = link.data("status");
                $("input[name='Status'][value='" + status + "']").prop("checked", true);

                // Date + note
                var returnDate = link.attr("data-returndatetime");
                var note = link.data("note");

                var formatted = "";
                if (returnDate) {
                    var isoString = returnDate.replace(" ", "T");
                    var date = new Date(isoString);
                    if (!isNaN(date.getTime())) {
                        formatted = date.toLocaleString('en-CA', {
                            year: 'numeric',
                            month: '2-digit',
                            day: '2-digit',
                            hour: '2-digit',
                            minute: '2-digit',
                            hour12: false
                        }).replace(',', '').replace(/-/g, '-');
                    }
                }

                // Reset notes
                $("input[id^='Note']").prop("disabled", true).val("");

                if (status === "外出") {
                    $("#ReturnDateTime-out").prop("disabled", false).val(formatted);
                    $("#Note-out").prop("disabled", false).val(note);
                } else if (status === "会議") {
                    $("#ReturnDateTime-meeting").prop("disabled", false).val(formatted);
                    $("#Note-meeting").prop("disabled", false).val(note);
                } else if (status === "休み") {
                    $("#Note-leave").prop("disabled", false).val(note);
                } else if (status === "直行") {
                    $("#ReturnDateTime-visit").prop("disabled", false).val(formatted);
                    $("#Note-visit").prop("disabled", false).val(note);
                }
                $('#datetimepicker-out').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    showClear: true,
                    showClose: true,
                    //widgetParent: '#staffModal',
                    minDate: moment().startOf('day'), // disable all dates before today
                    widgetPositioning: {
                        horizontal: 'left',
                        vertical: 'bottom'
                    }

                });
                $('#datetimepicker-meeting').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    showClear: true,
                    showClose: true,
                    //widgetParent: '#staffModal',
                    minDate: moment().startOf('day') // disable all dates before today
                });
                $('#datetimepicker-visit').datetimepicker({
                    format: 'YYYY-MM-DD HH:mm',
                    showClear: true,
                    showClose: true,
                    //widgetParent: '#staffModal',
                    minDate: moment().startOf('day') // disable all dates before today
                });
            });

            $("#staffForm").on("submit", function (e) {
                e.preventDefault();

                var status = $("input[name='Status']:checked").val();
                var currentShop = $("input[name='Shop']:checked").val();

                var returnDateTime = null;
                var note = null;

                if (status === "外出") {
                    returnDateTime = $("input[name='ReturnDateTime-out']").val();
                    note = $("#Note-out").val();
                } else if (status === "会議") {
                    returnDateTime = $("input[name='ReturnDateTime-meeting']").val();
                    note = $("#Note-meeting").val();
                } else if (status === "休み") {
                    note = $("#Note-leave").val();
                } else if (status === "直行") {
                    returnDateTime = $("input[name='ReturnDateTime-visit']").val();
                    note = $("#Note-visit").val();
                }

                var staffCD = $("#StaffCd").val();
                var departmentCD = $("#DepartmentCd").val();

                var payload = {
                    DepartmentCD: departmentCD,
                    StaffCd: staffCD,
                    Status: status,
                    ReturnDateTime: returnDateTime,
                    Note: note,
                    CurrentShop: currentShop
                };

                $.ajax({
                    url: '/Home/SaveStaff',
                    type: 'POST',
                    data: payload,
                    success: function (response) {
                        alert(response.message);
                        $("#staffModal").modal("hide");
                        location.reload();
                    },
                    error: function () {
                        alert("An error occurred while saving.");
                    }
                });
            });

            $(document).on("change", "input[name='Status']", function () {

                // Add required attributes based on selected radio
                var selected = $(this).val();

                // First clear and disable all ReturnDateTime and Note inputs
                $("input[name^='ReturnDateTime']").val("").prop("required", false).prop("disabled", true);
                $("input[id^='Note']").val("").prop("required", false).prop("disabled", true);

                // Enable only the inputs for the selected status
                if (selected === "外出") {
                    $("input[name='ReturnDateTime-out']").prop("disabled", false).prop("required", true);
                    $("#Note-out").prop("disabled", false).prop("required", true);
                } else if (selected === "会議") {
                    $("input[name='ReturnDateTime-meeting']").prop("disabled", false).prop("required", true);
                    $("#Note-meeting").prop("disabled", false).prop("required", true);
                } else if (selected === "休み") {
                    $("#Note-leave").prop("disabled", false).prop("required", true);
                } else if (selected === "直行") {
                    $("input[name='ReturnDateTime-visit']").prop("disabled", false).prop("required", true);
                    $("#Note-visit").prop("disabled", false).prop("required", true);
                }
            });

            $(document).on("click", ".search-icon", function () {
                var staffId = $(this).attr('id');
                // Show the modal
                $("#searchModal").modal("show");
                var name = $(this).data('staffname');

                // 2. Insert the name into the span inside the modal
                $('#displayStaffName').text(name);

                $.ajax({
                    url: '@Url.Action("GetPlanData", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    data: { id: staffId },
                    success: function (data) {
                        var jsonData = JSON.parse(data);
                        var rows = '';
                        $('#Plantable tbody').empty();

                        $.each(jsonData, function (i, item) {

                            rows += '<tr>'
                                + '<td style="display:none">' + (staffId || "") + '</td>'
                                + '<td class="text-end">' + (formatDate(item.DateValue) || "") + '</td>'
                                + '<td><input type="text" value="' + (item.Note || "") + '" class="form-control row-note" maxlength="200" /></td>'
                                + '</tr>';
                        });

                        $('#Plantable tbody').append(rows);
                    }
                });
            });

            document.addEventListener("mouseover", function (e) {
                // Check if the hovered element has our class
                if (e.target.classList.contains("nested-cell")) {
                    const el = e.target;

                    // If the actual text width is wider than the container
                    if (el.scrollWidth > el.clientWidth) {
                        // Set the title only for long strings
                        el.setAttribute("title", el.innerText);
                        el.style.cursor = "pointer";
                    } else {
                        // Remove title if it's a short string
                        el.removeAttribute("title");
                        el.style.cursor = "default";
                    }
                }
            });

        });

        function formatDate(dateString) {
            var date = new Date(dateString);
            var day = ("0" + date.getDate()).slice(-2);
            var month = ("0" + (date.getMonth() + 1)).slice(-2);
            var year = date.getFullYear();
            return year+'年'+ month + '月' + day + '日';
           // return year + "/" + month + "/" + day;
        }

        function getByteLength(str) {
            // Encodes to UTF-8 and returns the byte count
            return new TextEncoder().encode(str).length;
        }
        function SavePlanData() {

            var list = [];

            $('#Plantable tbody tr').each(function () {
                var staffid = $(this).find('td:eq(0)').text();
                var date = $(this).find('td:eq(1)').text();   // Date column
                var note = $(this).find('input').val();       // Input value

                list.push({
                    StaffCD: staffid,
                    PlanDate: date,
                    Note: note
                });
            });
            var isValid = true;

            var errorMessage = "";
            $("#Plantable tbody tr").each(function (index) {
                var $noteInput = $(this).find(".row-note");
                var noteValue = getByteLength($noteInput.val());
                var maxLength = parseInt($noteInput.attr("maxlength"));

                if (noteValue > maxLength) {

                    isValid = false;
                    errorMessage = "Row " + (index + 1) + ": Note exceeds " + maxLength + " characters.";
                    $noteInput.addClass("is-invalid"); // Highlight the error field
                    return false; // Exit the .each() loop early
                } else {
                    $noteInput.removeClass("is-invalid");
                }
            });

            if (!isValid) {
                alert(errorMessage);
                return; // Stop the AJAX call
            }
            // send to server
            $.ajax({
                url: '/Home/SavePlanData',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(list),
                success: function (res) {
                    alert('登録しました。');
                    window.location.reload();
                }
            });
        }

    </script>
}
